@model HybridCMSEntities.CommentEntity

<a onclick="deleteComment('@Model.CommentId',this)"
   onmouseover="this.style.cursor='pointer'" class="text-secondary bi bi-trash-fill" title="Delete Comment"></a>
