<div class="category-filter">
    <select id="assetsTableFilter" class="form-select">
        <option value="">Show All</option>
        <option value="Page">Page</option>
        <option value="Blog">Blog</option>
    </select>
</div>
<div class="button-filter">
    <input id="cbIsSelected" type="checkbox" class="cbSelected">
</div>
<div class="button-filter">
    <button type="button" id="disableBtn"
            class="disableAndEnableBtn disable-button-filter" style="display:none;">
        Disable
    </button>
</div>
<div class="button-filter">
    <button type="button" id="enableBtn"
            class="disableAndEnableBtn enable-button-filter" style="display:none;">
        Enable
    </button>
</div>
<table class="display compact" id="assetsPanelTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Asset Name</th>
            <th>Author</th>
            <th>Deleted</th>
            <th>Published</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script>
    function BindTableData() {
        let assetsPanelTableVariable = $("#assetsPanelTable").dataTable({
            ajax: {
                url: "/AdminMaster/GetAllAssets",
                dataSrc: ""
            },
            pageLength: 5,
            lengthMenu: [[5, 15, 30, -1], [5, 15, 30, 'All']],
            order: [],
            retrieve: true,
            columns: [
                {
                    data: "AssetId"
                },
                {
                    data: "AssetTypeId",
                    render: function (data, type, asset) {
                        return ((asset.AssetTypeId == 1) ? "Page" : "Blog");
                    }
                },
                {
                    data: "AssetName"
                },
                {
                    data: "AuthorName"
                },
                {
                    data: "IsDeleted",
                    render: function (data, type, asset) {
                        return ((asset.IsDeleted ? "<span style='color: #F65005'>" : "<span style='color: #3CB815'>") + asset.IsDeleted + "</span>");
                    }
                },
                {
                    data: "IsPublished",
                    render: function (data, type, asset) {
                        return (asset.IsPublished ? ConvertToDateFromJson(asset.PublishedOn) : "");
                    }
                },
                {
                    data: "CreatedOn",
                    render: function (data, type, asset) {
                        return ConvertToDateFromJson(asset.CreatedOn);
                    }
                }
            ]
        });
        let table = $('#assetsPanelTable').DataTable();
        $("#assetsPanelTable_filter.dataTables_filter").append($("#assetsTableFilter"));
        $("#assetsPanelTable_filter.dataTables_filter").append($("#enableBtn"));
        $("#assetsPanelTable_filter.dataTables_filter").append($("#disableBtn"));
        $("#assetsPanelTable_filter.dataTables_filter").append($("#cbIsSelected"));
        let roleIndex = 1;
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                let selectedItem = $('#assetsTableFilter').val()
                let role = data[roleIndex];
                if (selectedItem === "" || role.includes(selectedItem)) {
                    return true;
                }
                return false;
            }
        );
        $("#assetsTableFilter").change(function (e) {
            table.draw();
        });
        table.draw();

        $('#assetsPanelTable tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
            cbSelectedProp(table.rows('.selected').data().length, table.rows().count());
        });

        $('#cbIsSelected').click(function (event) {  //on click
            this.checked ? (table.$('tr').addClass('selected')) : (table.$('tr').removeClass('selected'));
            cbSelectedClickProp(table.rows('.selected').data().length);
        });
        $('#disableBtn').click(function (event) {  //on click
            runDisableOrEnable(true);
        });
        $('#enableBtn').click(function (event) {  //on click
            runDisableOrEnable(false);
        });

        function runDisableOrEnable(IsDiable) {
            let selectedItems = new Array();
            $.each(table.rows('.selected').data(), function (i, item) {
                selectedItems.push(item.AssetId);
            });
            IsDiable ? DisableAsset(selectedItems) : EnableAsset(selectedItems);
        }
    }
</script>
