<div class="button-filter">
    <input id="cbIsSelected" type="checkbox" class="cbSelected">
</div>
<div class="button-filter">
    <button type="button" id="disableBtn"
            class="disableAndEnableBtn disable-button-filter" style="display:none;">
        Disable
    </button>
</div>
<div class="button-filter">
    <button type="button" id="enableBtn"
            class="disableAndEnableBtn enable-button-filter" style="display:none;">
        Enable
    </button>
</div>
<div class="category-filter">
    <select id="usersTableFilter" class="form-select">
        <option value="">Show All</option>
        <option value="Admin">Admin</option>
        <option value="User">User</option>
    </select>
</div>
<table class="display compact" id="usersPanelTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role</th>
            <th>Name</th>
            <th>Email</th>
            <th>Deleted</th>
            <th>Created</th>
            <th>Assets</th>
            <th>Published</th>
            <th>Posts</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script>
    let usersPanelTableVariable = $("#usersPanelTable").dataTable({
        ajax: {
            url: "/AdminMaster/GetAllUsers",
            dataSrc: ""
        },
        pageLength: 5,
        lengthMenu: [[5, 15, 30, -1], [5, 15, 30, 'All']],
        order: [],
        retrieve: true,
        columns: [
            {
                data: "UserId"
            },
            {
                data: "RoleType",
                render: function (data, type, user) {
                    return ((user.RoleType == 2) ? "Admin" : "User");
                }
            },
            {
                data: "Name"
            },
            {
                data: "EmailAddress"
            },
            {
                data: "IsDeleted",
                render: function (data, type, user) {
                    return ((user.IsDeleted ? "<span style='color: #F65005'>" : "<span style='color: #3CB815'>") + user.IsDeleted + "</span>");
                }
            },
            {
                data: "CreatedOn",
                render: function (data, type, user) {
                    return ConvertToDateFromJson(user.CreatedOn);
                }
            },
            {
                data: "TotalAsset"
            },
            {
                data: "PublishedAsset"
            },
            {
                data: "TotalPost"
            },
            {
                data: "TotalComment"
            }
        ]
    });
    let table = $('#usersPanelTable').DataTable();
    $("#usersPanelTable_filter.dataTables_filter").append($("#usersTableFilter"));
    $("#usersPanelTable_filter.dataTables_filter").append($("#enableBtn"));
    $("#usersPanelTable_filter.dataTables_filter").append($("#disableBtn"));
    $("#usersPanelTable_filter.dataTables_filter").append($("#cbIsSelected"));
    /*$("#filterTable_filter.dataTables_filter").append($("#btnCreateBlog"));*/
    let roleIndex = 1;
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            let selectedItem = $('#usersTableFilter').val()
            let role = data[roleIndex];
            if (selectedItem === "" || role.includes(selectedItem)) {
                return true;
            }
            return false;
        }
    );
    $("#usersTableFilter").change(function (e) {
        table.draw();
    });
    table.draw();
    $('#usersPanelTable tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
        cbSelectedProp(table.rows('.selected').data().length, table.rows().count());
    });

    $('#cbIsSelected').click(function (event) {  //on click
        this.checked ? (table.$('tr').addClass('selected')) : (table.$('tr').removeClass('selected'));
        cbSelectedClickProp(table.rows('.selected').data().length);
    });
    $('#disableBtn').click(function (event) {  //on click
        runDisableOrEnable(true);
    });
    $('#enableBtn').click(function (event) {  //on click
        runDisableOrEnable(false);
    });

    function runDisableOrEnable(IsDiable) {
        let selectedItems = new Array();
        $.each(table.rows('.selected').data(), function (i, item) {
            selectedItems.push(item.UserId);
        });
        IsDiable ? DisableUser(selectedItems) : EnableUser(selectedItems);
    }
</script>
