
<table class="display compact" id="commentsPanelTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Comment</th>
            <th>Author</th>
            <th>Deleted</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script>
    function BindTableData() {
        let commentsPanelTableVariable = $("#commentsPanelTable").dataTable({
            ajax: {
                url: "/AdminMaster/GetAllComments",
                dataSrc: ""
            },
            pageLength: 5,
            lengthMenu: [[5, 15, 30, -1], [5, 15, 30, 'All']],
            order: [],
            retrieve: true,
            columns: [
                {
                    data: "CommentId"
                },
                {
                    data: "Comment"
                },
                {
                    data: "Name"
                },
                {
                    data: "IsDeleted",
                    render: function (data, type, post) {
                        return ((post.IsDeleted ? "<span style='color: #F65005'>" : "<span style='color: #3CB815'>") + post.IsDeleted + "</span>");
                    }
                },
                {
                    data: "CreatedOn",
                    render: function (data, type, post) {
                        return ConvertToDateFromJson(post.CreatedOn);
                    }
                },
            ]
        });
    }
</script>
