@model IEnumerable<HybridCMSEntities.PostEntity>

@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="bg-white text-center h-100 p-4 p-xl-5">
            <img class="img-fluid mb-4" src="img/icon-1.png" alt="">
            <h4 class="mb-3">
                @Html.DisplayFor(modelItem => item.PostHeading)
            </h4>
            <p class="mb-4">
                @Html.DisplayFor(modelItem => item.PostDescription)
            </p>
            @{
                Html.RenderAction("PostBtnPartialView", "Post",
                    new RouteValueDictionary 
                    {
                        { "PostId", Convert.ToString(item.PostId) }
                    });
            }
        </div>
    </div>
}
<script>
    function fnRedirect(u, pid) {
        var full = u + "/" + pid;
        window.location.pathname = encodeURI("@@" + full);
    }
</script>