
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl py-6">
    <div class="container py-6">
        <div class="section-header text-center mx-auto mb-5" style="max-width: 500px;">
            <h1 class="display-5 text-danger">Page Not Found</h1>
        </div>
        <div class="row g-5 justify-content-center">
            <div class="col-lg-7 col-md-12">
                <hr />
                <div class="form-floating text-center">
                    The requested URL was not found on this server.
                </div>
            </div>
        </div>
    </div>
</div>