@model HybridCMSEntities.LoginEntity
@{
    string DashboardName = Model.Name is null ? "Admin Dashboard" : (Model.Name + " Assets");
    ViewBag.Title = DashboardName;
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<!-- Admin Dashboard Start -->
<div class="container-xxl py-6" style="padding-bottom:0 !important;">
    <div class="container">
        <div class="section-header text-center mx-auto mb-3" style="max-width: 500px;">
            <h1 class="display-5">@DashboardName </h1>
        </div>
        <div class="row g-5 justify-content-center">
            <div class="col-lg-12 col-md-12">
                @{
                    Html.RenderAction("AdminAssetList", "Asset");
                }
            </div>
        </div>
    </div>
</div>
<!-- Admin Dashboard End -->
@section scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script>
        $("document").ready(function () {
            $("#filterTable").dataTable({
                "searching": true,
                order: [],
                pageLength: 10,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, 'All']],
                "columns": [
                    null,
                    null,
                    null,
                    { "width": "10%" },
                    null
                ]
            });
            var table = $('#filterTable').DataTable();
            $("#filterTable_filter.dataTables_filter").append($("#categoryFilter"));
            /*$("#filterTable_filter.dataTables_filter").append($("#btnCreateBlog"));*/
            var categoryIndex = 2;
            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var selectedItem = $('#categoryFilter').val()
                    var category = data[categoryIndex];
                    if (selectedItem === "" || category.includes(selectedItem)) {
                        return true;
                    }
                    return false;
                }
            );
            $("#categoryFilter").change(function (e) {
                table.draw();
            });
            table.draw();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#liAdminDashboard').addClass('active');
            $('#liUserProfile').addClass('active');
        });
    </script>
}
