@model HybridCMSEntities.LoginEntity
@{
    string DashboardName = Model.Name is null ? "Dashboard" : (Model.Name + " Assets");
    ViewBag.Title = DashboardName;
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@section styles{
    <link href="~/Content/dashboardStyle.css" rel="stylesheet" />
}

<!-- Admin Dashboard Start -->
<div class="container-xxl py-6" style="padding-bottom:0 !important;">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5" style="max-width: 500px;">
        </div>
        <div class="row g-5 justify-content-center">
            <div class="col-lg-12 col-md-12">
                @{
                    Html.RenderAction("AdminAssetList", "Asset");
                }
            </div>
        </div>
    </div>
</div>
<!-- Admin Dashboard End -->
@section scripts{
    <script src="~/Scripts/OpenLinkInNewTab.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/adminScript.js"></script>
}
