
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Admin Dashboard Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5" style="max-width: 500px;">
            <h1 class="display-5 mb-3">@(Convert.ToString(Session["CMSName"]))</h1>
        </div>
        <div class="row g-5 justify-content-center">
            <div class="col-lg-7 col-md-12">
                
            </div>
        </div>
    </div>
</div>
<!-- Admin Dashboard End -->
