@model HybridCMSEntities.MasterEntity
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@section styles{
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/MasterStyle.css" rel="stylesheet" />
}
<!-- Admin Dashboard Start -->
<div class="container-xxl py-6" style="padding-bottom:0 !important;">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5" style="max-width: 500px;"></div>
        <div class="row g-5 justify-content-center">
            <div class="row g-4">
                <div class="col-lg-3 col-md-6">
                    <a class="form-floating mb-2 liDashboardMenu active" onclick="GetDataController(1)" onmouseover="this.style.cursor='pointer'">
                        <div class="bg-light p-4" style="border-radius:10px;">
                            <div class="text-lg-end">
                                <strong class="display-6 bi bi-people-fill float-lg-start"></strong>
                                <strong>@Model.TotalUser</strong>
                            </div>
                            <div class="text-muted float-end border-top">
                                <small>Total Users</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a class="form-floating mb-2 liDashboardMenu" onclick="GetDataController(2)" onmouseover="this.style.cursor='pointer'">
                        <div class="bg-light p-4" style="border-radius:10px;">
                            <div class="text-lg-end">
                                <strong class="display-6 bi bi-card-heading float-lg-start"></strong>
                                <strong>@Model.TotalAsset</strong>
                            </div>
                            <div class="text-muted float-end border-top">
                                <small>Total Assets</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a class="form-floating mb-2 liDashboardMenu" onclick="GetDataController(3)" onmouseover="this.style.cursor='pointer'">
                        <div class="bg-light p-4" style="border-radius:10px;">
                            <div class="text-lg-end">
                                <strong class="display-6 bi bi-file-earmark-image float-lg-start"></strong>
                                <strong>@Model.TotalPost</strong>
                            </div>
                            <div class="text-muted float-end border-top">
                                <small>Total Posts</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a class="form-floating mb-2 liDashboardMenu" onclick="GetDataController(4)" onmouseover="this.style.cursor='pointer'">
                        <div class="bg-light p-4" style="border-radius:10px;">
                            <div class="text-lg-end">
                                <strong class="display-6 bi bi-chat-left-dots float-lg-start"></strong>
                                <strong>@Model.TotalComment</strong>
                            </div>
                            <div class="text-muted float-end border-top">
                                <small>Total Comments</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <br />
        <div class="row g-5 justify-content-center">
            <div class="col-lg-12 col-md-12">
                <div id="loadTableData" class="bg-light p-4" style="border-radius:10px;">
                    @{
                        Html.RenderPartial("_MasterDashboardPanel");
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Admin Dashboard End -->

@section scripts{
    <script src="~/Scripts/masterScript.js"></script>
    <script>
        $(document).ready(function () {
            $('#liAdminDashboard').addClass('active');

            $(".liDashboardMenu").click(function () {
                $(".liDashboardMenu.active").removeClass("active");

                $(this).addClass("active");
            });
        });
    </script>
}
